h1,
h2,
h3,
h4,
h5,
p,
a,
td,
th,
button {
  font-family: "Roboto";
  color: #fff;
}

@media only screen and (min-width: 768px) {
  #mainSection {
    width: auto;
  }
  .only-mobile {
    display: none;
  }
  .loadallplayers {
    margin-left: 86%;
  }
  table {
    width: 100%;
  }
  #nextButton {
    margin-left: 80%;
  }
  #aboutSection {
    margin-left: none;
  }
  #searchValue {
    margin-left: 60%;
    width: 40%;
  }
  .gameLogo {
    height: 60px;
  }
  #prevButton {
    padding: 10px 25px 10px 25px;
  }
  #nextButton {
    padding: 10px 25px 10px 25px;
  }
  .explanatoryMobile {
    display: none;
  }
  hr {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #mainSection {
    width: fit-content;
  }
  #searchBtn {
    font-size: 16px;
    text-transform: uppercase;
  }
  hr {
    margin-left: 30px;
  }
  .only-desktop {
    display: none;
  }
  #searchValue {
    width: 100%;
  }
  .gameLogo {
    height: 40px;
  }
  #prevButton {
    padding: 10px 40px 10px 40px;
  }
  #nextButton {
    padding: 10px 40px 10px 40px;
  }
  .btn-secondary.only-mobile {
    font-size: 16px;
    text-transform: uppercase;
  }
  .only-mobile {
    display: flex;
  }
  .loadallplayers {
    margin-left: 280px;
  }
  #nextButton {
    margin: 25px 0 25px 190px;
  }
  .footerText {
    text-align: left;
    padding: 0px 30px 0px 30px;
  }
  .navigationlinks a {
    font-size: 30px;
    margin-left: 40px;
  }
  .explanatoryInfo {
    font-size: 20px;
    font-weight: 400;
    display: none;
  }
  .explanatoryMobile {
    text-align: left;
    padding-left: 30px;
  }
}

.explanatoryInfo {
  margin-left: 30px;
  text-align: left;
}

.vieworiginallist {
  float: left;
  margin-left: 30px;
  cursor: pointer;
}

body {
  background: linear-gradient(180deg, #0b102d 0%, #000423 100%);
}

table tr th {
  padding: 20px 20px 20px 20px;
}

.navigationlinks {
  text-align: initial;
  padding-left: 30px;
  display: flex;
  margin-top: 20px;
}

.navigationlinks a:hover {
  border-bottom: #00ddee 2px solid;
  outline: none;
}

#searchValue:focus {
  border: none;
  outline: none;
}

.navigationlinks a {
  margin-left: 20px;
  border-bottom: #0a0f2c 2px solid;
  text-decoration: none;
  color: #fff;
  margin-top: auto;
}

.visualPageNumber {
  text-align: right;
  margin-right: 40px;
}

table {
  padding: 0px 30px 0px 30px;
}

.gameLogo {
  display: flex;
}

#searchValue {
  padding-left: 10px;
  background-color: #f3f3f4;
  border: none;
  border-radius: 4px;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease,
    box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
}

.searchResultsNum {
  text-align: right;
  padding-right: 30px;
}

#searchValue:hover {
  outline: 4px solid #fdedf3;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

#searchValue::selection {
  color: rgba(255, 255, 255, 0.85);
}

.searchBar {
  display: flex;
  padding: 0px 30px 30px 30px;
  height: 45px;
}

#searchBtn {
  background-color: #246eb9;
  border: none;
  border-radius: 6px;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
}

.home-btn {
  margin-left: 20px;
}

.btn-secondary {
  border-radius: 8px;
  border: 0.4px solid black;
  padding: 10px 20px 10px 20px;
  background-color: #fff;
  color: black;
}

#aboutSection {
  margin-left: 30px;
  text-align: left;
}

#aboutUs,
#Home {
  height: 40px;
  margin-top: auto;
}

.row.pagination {
  background: #191d39;
  border-radius: 4px;
  margin: 0px 30px 30px 30px;
  display: flex;
}

#prevButton {
  margin: 25px 0 25px 30px;
  border-radius: 32px;
  font-weight: bold;
  background: #30344d;
  border: none;
  color: white;
  cursor: pointer;
}

table tbody td {
  padding-left: 20px;
}

tbody {
  text-align: left;
}

#nextButton {
  display: inline-flex;
  float: right;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 32px;
  font-weight: bold;
  background: #30344d;
  border: none;
  color: white;
  cursor: pointer;
}

table img {
  height: 69px;
}

tbody tr {
  border-bottom: 2px solid #c4c4c4;
}

table thead {
  background: #0a0f2c;
  text-align: left;
  color: white;
  border-radius: 3px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
